#big_wrapper {
	margin:0px auto;
	width: auto;
	height: auto;
}

#top_bar {
	border-bottom: 2px solid black;
	width: 900px;
	height: auto;
}

#header {
	display: inline-block;
	padding-right: 430px;
}

#active_user {
	display: inline-block;
}