<!DOCTYPE html>
<html>
<head>
	<title>Register New User</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'dojo_secrets/css/dojo_secrets_styles.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
	<div id="big_wrapper">
		<h1>Please enter the below information to register.</h1>
		<br>
		<div id="register_box">
			<form action="{% url 'register_user'%}" method='POST'>
				{% csrf_token %}
				<label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label><br>
				<label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label><br>
				<label for="email">Email:<input type="text" name="email" id="email"></label><br>
				<label for="password">Password:<input type="password" name="password" id="password"></label><br>
				<label for="password_confirmation">Password Confirmation:<input type="password" name="password_confirmation" id="password_confirmation"></label><br>
				<input type="submit" value="Register">
			</form>
			{{message | safe}} <!-- if an error message exists after a register attempt, it will be displayed here -->
		<br>
		</div>
	</div>
</body>
</html>